

/* Here we set the font size and the distance betweent the table and header*/

#title-tabla {
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 30px;
}
/*Here we set  the main style od the tables (beige and text align)*/
.tabla {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
/*general specs for the table like centering the text*/
th,
td {
    text-align: left;
    padding: 8px;
}
/*With this we can alternate between 2 background colours*/
tr:nth-child(even) {
    background-color: #c6ccd8
}
/*Here we set style for the header of the table (first row)*/
th {
    background-color: #85a1c1;
    color: black;
    /*border-style: solid;*/
    /*border-color: black;*/
}
/*Here we set some specific styles for phone devices*/
@media screen and (max-width: 600px) {
    
    #content {
        width: 100%
    }
    #title-tabla {
        padding-top: 300px;
    }
}
