
.separator {
    padding: 5px;
}

.icon_com {
    width: 25px;
    padding-right: 10px;
}

.forum-title {
    width: 75%;
    height: 50px;
    font-size: 20px;
}

#title-tabla {
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 30px;
}

.tabla {
    background-color: beige;
    width: 100%;
    text-align: center;
}



@media screen and (max-width: 600px) {
    
    #content {
        width: 100%;
    }
    #title-tabla {
        padding-top: 300px;
    }
    
    #spacer {
        display: none;
    }
}
