


.icon_stud {
    width: 60px;
}

.icon_com {
    width: 35px;
}

#title-tabla {
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 30px;
}

.tabla {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: lightblue;
    color: black;
    border-style: solid;
    border-color: black;
}

@media screen and (max-width: 600px) {
    
    #content {
        width: 100%
    }
    #title-tabla {
        padding-top: 300px;
    }
}
