


.icon_stud {
    width: 60px;
    border-radius: 50%;
}

.icon_com {
    width: 35px;
}

#title-tabla {
    padding-top: 150px;
    font-size: 30px;
}

.tabla {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}



@media screen and (max-width: 600px) {
    #title-tabla {
        padding-top: 300px;
    }
    #spacer {
        display: none;
    }

}
