.course-logo {
    border-radius: 50%;
    width: 5%;
    float: left;
}

.course-title {
    text-align: center;
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
}

.side-menu {
	float: left;
	
}

.latest-news {
	float: right;
}